body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.map{
  width: 80vw;
  height: 100vh;
  float: right;
}

.location-icon{
  font-size: 2rem;
  color: purple;
}

.location-info{
  position:absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  min-height: 200px;
  padding: 20px ;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  color: black
}

.location-info ul{
  list-style-type: none;
  padding: 0px;

}

.location-info li{
  padding: 5px 0;
}
